<html>
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
</head>
<body>
<h1>ПРИВЕТ!!!</h1>
<h2>Добро пожаловать на демоверсию Яндекса!</h2>
<form method="GET">
<label>Ваш запрос: <input type="text" name="query"></label><br>
<input type="radio" name="method" value="TF-IDF">TF-IDF</label><br><br>
	<input type="radio" name="method" value="BM25">BM25</label><br><br>
	<input type="radio" name="method" value="FastText">FastText (комп. не тянет)</label><br><br>
	<input type="submit" value="Search">
</form>
</body>
</html>